@import '~/styles/mediaQuery';
@import '~/styles/variables';

.carousel {
    .carousel-item {
        transition: opacity 1.5s ease-in-out;
        background-attachment: scroll !important;
    }

    .carousel-indicators {
        width: 100%;
        height: "40px";
        background-color: rgba(27, 167, 224, .36);
        margin: 0;
        border: "1px solid transparent";
        z-index: 2;
        margin-top: 10px;
        text-align: center;
    }

    .carousel-indicators {
        button {
            margin: 3px 8px;
            border-radius: 100%;
            width: 14px;
            height: 14px;
            background-color: rgba(255, 255, 255, .4);
            // margin: 0 3px 0.5rem;
            transition: background-color .1s, color .1s;
            text-align: center;
        }

        button.active {
            background-color: #fff;
        }
    }

    .carousel-control-prev {
        color: #007aac;
    }

    .carousel-control-prev-icon {
        // background-image: ;
    }

    .carousel-caption {
        max-width: 700px;
        font-weight: 400;
        font-size: 1rem;
        text-align: center;
    }
}

// css home
.home-container {
    background-position: 100% 100%;
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #e0f7ff;
    display: flex;
    padding: 20px 5% 60px;
    flex-flow: wrap;
    align-items: center;
    min-height: 83vh;
    justify-content: space-between;
    width: 100%;

    @include respond-to(small) {
        background-position: 68% 0;
        padding-left: 0;
        padding-right: 0;
    }

    &_information {
        width: 50%;
        background-color: transparent;
        padding: 20px;
        position: static;

        @include respond-to(small) {
            max-width: 500px;
            width: auto;
            align-items: center;
        }

        @include respond-to(medium) {
            width: 100%;
            align-items: center;
        }
    }

    &_title {
        font-weight: 700;
        color: #1178bb;
        //margin-bottom: 40px;
        font-size: 3.5rem;
        text-align: left;
        text-transform: none;
        line-height: 120%;

        @include respond-to(small) {
            //font-weight: 500;
            font-size: 24px;
            text-align: center;
        }

        @include respond-to(medium) {
            text-align: center;
            font-size: 3rem;
        }

        @include respond-to(large) {
            text-align: center;
        }
    }
    &_details {
        font-size: 1rem;
        text-align: left;
        font-style: italic;
        margin-bottom: 60px;

        @include respond-to(small) {
            text-align: center;
            font-size: 13px;
        }
        @include respond-to(medium) {
            text-align: center;
            font-size: 18px;
        }
    }

    &_content {
        font-size: 1rem;
        text-align: left;

        @include respond-to(small) {
            text-align: center;
        }

        @include respond-to(medium) {
            text-align: center;
        }

        @include respond-to(large) {
            text-align: center;
        }
    }

    &_give {
        font-weight: 700;
        font-size: 1.3rem;
        color: #333;
        margin-top: 20px;
        margin-bottom: 20px;

        @include respond-to(small) {
            text-align: center;
        }
    }

    &_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @include respond-to(small) {
            align-items: center;
            flex-direction: column;
        }

        button:first-child {
            @include respond-to(small) {
                margin-bottom: 20px;
            }
        }

        button {
            font-weight: 700;
            padding: 9px 20px;
            width: 49%;
            font-size: 1.3rem;

            @include respond-to(small) {
                font-size: 18px;
                width: 80%;
            }
        }
    }

}

// css SliderImage
.techTool-container {
    h1 {
        font-size: 2rem;

        @include respond-to(small) {
            font-size: 32px;
            text-align: center;
        }
    }

    .home_image {
        height: 120px;

        @include respond-to(small) {
            height: 80px;
        }
    }

    .home_image:hover {
        transform: scale(1.1);
    }
}

// programs
.programs-container {
    &_title {
        font-size: 3rem;
        margin-bottom: 30px;
        color: #1178bb;
        font-weight: 600;
        padding-top: 20px;

        @include respond-to(small) {
            font-size: 32px;
        }
    }

    &_item {
        margin-right: 30px;

        @include respond-to(small) {
            margin-right: 0;
        }
    }
}

// benefits
.benefits-container {
    &_description {
        text-align: center;
    }

    h1 {
        font-size: 3rem;

        @include respond-to(small) {
            font-size: 32px;
        }
    }

    &_list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        flex-direction: row;

        @include respond-to(small) {
            flex-direction: column;
            align-items: center;
        }

        @include respond-to(medium) {
            flex-direction: column;
            align-items: center;
        }

        @include respond-to(large) {
            flex-direction: column;
            align-items: center;
        }
    }

    &_item {
        width: 20%;

        @include respond-to(small) {
            width: 100%;
        }

        @include respond-to(medium) {
            width: 100%;
        }

        @include respond-to(large) {
            width: 100%;
        }
    }
}

// testimonials
.testimonials-container {
    h1 {
        font-size: 3rem;

        @include respond-to(small) {
            font-size: 32px;
        }
    }

    &_box {
        min-height: 550px;

        @include respond-to(small) {
            min-height: 650px;
        }
    }
}

.sliderVideo {
    &_video {
        height: 270px;
        width: 460px;

        @include respond-to(small) {
            height: 230px;
            width: 350px;
        }
    }
}
